-var path = '';
-var head_url = 'https://tolstikov.mastervision.su/modern-psychotechnologies/';
-var head_title = '«Современные психотехнологии: аутотренинг, НЛП, гипноз»';
-var head_description = 'Бесплатный онлайн мастер-класс Виктора Толстикова';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/scripts.js';
-var noref = true
-var action = 'https://shop.mastervision.su/?r=personal/newsletter/sub/add&id=3568&lg=ru&Contact[id_newsletter]=';
-var group = '1812';
-var formId = '739';
-var formVc = '4190376282';
-var href = '#Modal';
-var ak = true;
-var ah = true;
-var politics = 'https://mastervision.su/politics.pdf';
-var mainJs = true;
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'

mixin b(cl,clb,href,p,target,id)
	.button-wrapper(class=cl)
		a.button(class=clb href!=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin imgs(cl,src,alt)
	img(class=cl src=path+src alt=alt)

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			include pug/main/2-for
			include pug/main/3-lets
			include pug/main/4-plan
			include pug/main/5-author
			include pug/main/6-revs
			include pug/main/7-last
		include pug/base/2-footer
		include pug/main/8-modal
		include pug/base/3-scripts
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts