section#main
	.container
		.content
			include ../base/1-header
			.row
				.col-md-6
					p.main-pre
					h1.main-title
					h2.main-subtitle
					p.main-info Автор: 
						span Виктор Толстиков
					p.main-info Дата и время: 
						span.date 19-21.04.2021
					form(action=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target=form_target).form.form-main
						h3.form-title Зарегистрируйтесь прямо сейчас - это бесплатно
						.email-block.email-block-form
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="input input-mail input-mail-main" name="Contact[email]" type="text" placeholder="E-mail")
						button(type="submit").button.button-form.button-form-main Зарегистрироваться
						.clearfix
						p.alert-message
						.checking.checking-main
							input(type="checkbox" id="check-1").check
							label(for="check-1").check-label Я согласен с 
								a(href=politics target="_blank") условиями обработки
								|  персональных данных по 152 - Ф3
						div(style="display: none;")
							#formTypeSpecificVars-1(style="display: none;")
								input(type="hidden" value=group id="form_newsletter_id_newsletter_1" name="Contact[id_newsletter]")
							<!-- API код канала рекламы -->
							input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_1" name="Contact[id_advertising_channel_page]")
							input(type="hidden" name="formId" value=formId)
							input(type="hidden" name="formVc" value=formVc)
							input(type="hidden" name="_aid" value="")
							input(type="hidden" name="_vcaid" value="")
				.col-md-6
					.circle.circle-blue.circle-main-1
					.circle.circle-blue.circle-main-2
					.circle.circle-bordered.circle-main-3
					.circle.circle-bordered.circle-main-4
					.video-wrapper.video-wrapper-main
						iframe(src="https://youtube.com/embed/?rel=0&autoplay=1&mute=1&modestbranding=1" allowfullscreen)